<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Forgot Password</mat-card-title>
        </mat-card-header>

        <form class="material-form">
            <mat-card-content>
                <mat-form-field class="full-width" floatLabel="never">
                    <input matInput placeholder="UserEmail" #passwordResetEmail required>
                </mat-form-field>


            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block"
                (click)="authenticateService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>

            <div>
                <span class="redirect"><a routerLink="/sign-in">Back</a></span>
            </div>
        </form>
    </mat-card>

</div>